<div class="dark-primary app-accent-bar">
</div>
<div class="primary app-title-bar">
  <div class="column app-title">
    <span class="app-span"><img class="app-logo" src="assets/boardgames.png"/></span>
    <span class="app-span">boardgames</span>
  </div>
  <div class="app-menu">
    <span class="app-span">
      <input [(ngModel)]="searchUser" style="margin-bottom: 5px;">
      <a (click)="search()"><i class="material-icons" style="font-size: 20px; position: relative; top: 6px">search</i></a>
      |
      <i class="material-icons" style="font-size: 20px; position: relative; top: 6px">subject</i>
      feed
      |
      <i class="material-icons" style="font-size: 20px; position: relative; top: 6px">account_circle</i>
      profile

    </span>
  </div>
</div>

<router-outlet></router-outlet>
