.app-title {
  width:50%;
  color: white;
  font-size: 30px;
}

.app-title-search {
  padding-top: 10px;
}

.app-menu {
  display: inline-block;
}

.app-span {
  vertical-align: middle;
  display: inline-block;
  color: white;
}

.app-link {
  color: white;
}

.app-link:hover {
  color: white;
  text-decoration: none;
}

.app-link:link {
  color: white;
  text-decoration: none;
}

.app-accent-bar {
  height: 10px;
}

.app-title-bar {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-logo {
  width: 40px;
}

.app-input {
  border: none;
  padding: 2px;
  height: 2em;
  width: 12em;
}
