<div class="searchprofile">
  <div *ngIf="searchProfile">
    <div class="column">
      <img src="{{searchProfile.photoUrl}}" width="100"/>
    </div>
    <div class="column">
      <div>
        <label>name:</label>
        {{searchProfile.displayName}}
      </div>
      <div>
        <label>screen name:</label>
        {{searchProfile.screenName}}
      </div>
    </div>
    <div class="column">
      <button (click)="addFriend()">send friend request</button>
      <button>cancel</button>
    </div>
  </div>
</div>
